.mainHeader {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.mainNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d4d4;
  padding-top: 0.7em;
  padding-bottom: 0.7em; }
  .mainNav h1 {
    font-weight: bold;
    font-size: 2.2em; }
  .mainNav .accent {
    color: #99CCBB; }
  .mainNav .contrast {
    color: #5c5c5c; }
  .mainNav ul {
    list-style: none; }
  .mainNav li {
    display: inline-block;
    padding: 0.6em 0.9em;
    border-left: 1px solid #d4d4d4; }
  .mainNav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.9em; }
    .mainNav a:hover {
      text-decoration: none;
      color: #3e9c8b; }
  .mainNav .button {
    background-color: #99CCBB;
    color: #fff;
    border: 1px solid #53b4a9;
    border-radius: 5px;
    padding: 0.6em 1.4em;
    text-align: center;
    text-decoration: none; }
  .mainNav .lightButton {
    background-color: #fff;
    color: #99CCBB;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.6em 1.4em;
    text-align: center;
    text-decoration: none; }

.logoContainer {
  padding-top: 2em;
  padding-bottom: 2em; }
  .logoContainer img {
    width: 100%; }

.contentBlock {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .contentBlock h2 {
    font-size: 2em;
    margin-bottom: 1.1em; }

.contentContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.contentSection {
  flex: 0 0 32%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 3.5em;
  color: #5c5c5c; }
  .contentSection img {
    width: 100%; }
  .contentSection h3 {
    font-size: 1.3em;
    font-weight: bold; }
  .contentSection p {
    font-size: 1em;
    line-height: 2;
    margin-bottom: 2.5em; }
  .contentSection a.button {
    font-size: 0.9em; }
    .contentSection a.button:hover {
      color: #53b4a9; }
  .contentSection .button {
    background-color: #99CCBB;
    color: #fff;
    border: 1px solid #53b4a9;
    border-radius: 5px;
    padding: 0.6em 1.4em;
    text-align: center;
    text-decoration: none; }

.aboutContainer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 4em;
  padding-bottom: 4em; }

.aboutSection {
  flex: 0 0 32%; }

.mainFooter {
  background-color: #fff;
  text-align: center;
  font-size: 0.9em;
  color: #5c5c5c;
  box-shadow: 0 -10px 2px rgba(125, 125, 125, 0.1);
  padding-top: 1.8em;
  padding-bottom: 3.1em; }
  .mainFooter a {
    color: #5c5c5c;
    text-decoration: underline; }
    .mainFooter a:hover {
      text-decoration: none; }

html {
  font-family: "Archivo Narrow", sans-serif;
  height: 100%; }

body {
  background-image: url("../img/bg01.jpg"); }

.bgContainer {
  background-color: #fff;
  margin-top: 35px;
  min-height: 200px;
  box-shadow: 0 -10px 2px rgba(125, 125, 125, 0.1), 0 10px 2px rgba(125, 125, 125, 0.1); }

/*# sourceMappingURL=styles.css.map */
