$primal: #fff;
$accent: #99CCBB;
$accent_dark: #72c5b4;
$contrast_dark: #000;
$contrast_middle: #606060;
$contrast_light: #3E3E3E;

$font_clor_main: $contrast_light;
$font_coloor_dark: $contrast_dark;
$font_color_light: $primal;
$font_color_accent: $accent;
